.row {
    content: "";
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
    
  .pad{
    padding-left: 80px;
  }

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 200px; 
  }

.ttt  {
    border: 2px solid;
    height: 50px;
    width: 90%;
  } 

 th , td{
    border: 1px solid;
 } 

 .www {
    width: 70%;
 }